::selection {
	color: #FFFFFF;
	background: #FF851B;
}

	::-moz-selection {
		color: #FFFFFF;
		background: #FF851B;
	}

a, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

body {
	min-width: 550px;
	min-height: 400px;

	margin: 0px;
	padding: 0px;

	background-color: #01FF70;
}

#controller {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 308px;

	margin-left: -250px;
	margin-top: -185px;
	-webkit-user-select: none;
}

	#animation, #fader {
		position: absolute;
		left: 0px;
		top: 0px;

		width: auto;
		height: auto;
	}	

		#div_d_up {
			position: absolute;
			left: 68px;
			top: 165px;

			width: 30px;
			height: 45px;

			z-index: 10;
		}

		#div_d_down {
			position: absolute;
			left: 68px;
			top: 240px;

			width: 30px;
			height: 45px;

			z-index: 10;
		}

		#div_d_left {
			position: absolute;
			left: 23px;
			top: 210px;

			width: 45px;
			height: 30px;

			z-index: 10;
		}

		#div_d_right {
			position: absolute;
			left: 98px;
			top: 210px;

			width: 45px;
			height: 30px;

			z-index: 10;
		}

		.button_big {
			width: 66px;
			height: 66px;

			z-index: 10;
		}

			#div_button_a {
				position: absolute;
				left: 382px;
				top: 210px;
			}

			#div_button_b {
				position: absolute;
				left: 314px;
				top: 210px;
			}

		.button_small {
			width: 50px;
			height: 50px;

			z-index: 10;
		}

			#div_button_start {
				position: absolute;
				left: 235px;
				top: 221px;
			}

			#div_button_select {
				position: absolute;
				left: 164px;
				top: 221px;
			}

#content {
	position: absolute;
	left: 50%;
	top: 100%;
	width: 500px;
	height: auto;

	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 25px;
	margin-left: -250px;
	margin-top: -22px;
}

	#content img {
		margin-bottom: 25px;
		margin-right: 25px;
	}

	#social {
		position: relative;
		left: 0px;
		top: 0px;
		width: 500px;
		height: auto;

		margin-bottom: 120px;
	}

		#twitter {
			position: absolute;
			left: 50px;
			top: 0px;
			width: 55px;
			height: 55px;

			margin-top: -2px;
		}

		#email {
			position: absolute;
			left: 50%;
			top: 0px;
			width: 55px;
			height: 55px;

			margin-left: -27px;
		}

		#github {
			position: absolute;
			right: 50px;
			top: 0px;
			width: 55px;
			height: 55px;
		}

	#copyright {
		position: relative;
		left: 0px;
		bottom: 0px;
		width: 500px;
		height: auto;

		font-size: 10px;
		letter-spacing: 1px;
		margin-bottom: 25px;
		margin-top: 75px;
		text-align: center;
	}